# Database (PostgreSQL)
DB_USERNAME=postgres
DB_PASSWORD=senha_do_banco_aqui

# Caching / Messaging (Redis)
REDIS_PASSWORD=senha_do_redis_aqui

# Security (JWT)
JWT_SECRET=coloque_sua_chave_jwt_em_base64_aqui